.outer{
    position: relative;
    // background: url("~assets/images/index_backroung.svg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
    img{
        left: 25%;
        top:5%;
        position: absolute;
    }
}

